{% extends 'main/navbar.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<h2>Данные пользователя {{ username }}</h2>
<ul>
    <li>Почта: {{ email }}</li>
</ul>
<p><a href="{% url 'change_password' %}">Сменить пароль</a></p>
<p><a href="{% url 'user_permissions' %}">Права пользователя</a></p>

<div class="mt-4">
    <h2 class="mb-4">Изображения данного пользователя</h2>
    {% for photo in photos %}
    <div class="card mb-3">
        <div class="card-body">
            <p class="card-text">Имя фото: {{ photo.image.name }}</p>
            <img src="{{ photo.image.url }}">
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
